<% layout("layouts/boilerplate") -%>

<div class="row mt-3 offset-1">
    <div class="alert alert-danger d-flex align-items-center justify-content-center" role="alert">
        <div>
            <p class="alert-heading"><%=error%></p>
        </div>
    </div>
</div>
