<%layout("layouts/boilerplate")-%>
<div class="row mt-3">
    <h2 class="col-6 offset-3">sign-up</h2>
    <div class="col-6 offset-3">
         <form action="/signup" method="post" class="needs-validation" novalidate>
            <div mb="3>">
                <label for="username" class="form-label">Username</label>
                <input name="username" placeholder="enter username" id="username" type="text" class="form-control" required/>
            </div>    
            <div mb="3>">
                <label for="email" class="form-label">email</label>
                <input name="email" placeholder="email address" id="email" type="text" class="form-control" required/>
            </div>    
           <div mb="3>">
                <label for="password" class="form-label">password</label>
                <input name="password" placeholder="password" id="email" type="password" class="form-control" required/>
            </div>  
            <button class="btn btn-outline-success mt-2">signUp</button>
        </form>
    </div> 
    
</div>